
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar Styling */
.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:380px;
  color: white;
}

.logo img {
  width: 50px; 
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f0a500;
}
.p{
  font-family: cursive;
  border:1px solid white;
  font-weight:700px;
  border-radius:8px;
}

/* Body Styling */
.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.background {
  background-image: url("image_1.jpg");
  width: 400px;
  height: 5750px;
  padding:20px;
 
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.container {
  background-color: white;
  width: 300px;
  height: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}


.container img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.container p {
  padding: 10px;
  font-size: 14px;
  color: #333;
  font-family: Arial, sans-serif;
}

.foot{
 background-color: black;
display: flex;
align-items: center;
justify-content: space-evenly;
width:380px;
height:60px;
color: white; 
font-family: monospace;
        
}
